.header {
    position: absolute;
    padding-top: 10px;
    height: 50px;
    min-width: 92%;
    max-width: 1900px;
    padding-left: 100px;
    background: rgb(255, 95, 31);
    display: inline;
    z-index: 2;
}

.user-options {
    width: 270px;
    height: 200px;
    margin: 10px 10px 5px 10px;
    border-radius: 8px 0px 0px 8px;
    border-top: 1px solid rgb(251, 206, 177);
    border-left: 1px solid rgb(251, 206, 177);
    background-color: rgb(255, 95, 31);
    right: 44px;
    top: 33.5px;
    align-content: center;
    text-align: center;
    z-index: 999;
    position: absolute;
}

.fa {
    color: rgb(251, 206, 177);
    cursor: pointer;
}

.icon-span {
    display: inline-block; 
    margin: 0.25em; 
    border: 1px solid rgb(251, 206, 177); 
    border-radius: 0.25em; 
    padding: .25em 0.5em;
}

.right-span {
    text-align: right;
    margin-top: -40px;
    margin-right: 15px;
}

.space {
    visibility: hidden;
}

.text {
    font-family: 'Courier New', Courier, monospace;
    font-size: 120%;
    font-weight: bolder;
    color: rgb(241, 188, 167);
}

.card {
    width: 200px;
    height: 35px;
    padding: 0px 0px 0px 0px;
    margin: 10px 10px 5px 25px;
    border-radius: 5px;
    border: 1px solid rgb(255, 95, 31);
    background-color: rgb(2255 255 255 / 75%);
    text-align: center;
}

.card-content {
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    font-weight: bolder;
    color: rgb(255, 95, 31);
}

.mat-mdc-card-content:first-child {
    padding-top: 10px;
}

.anchor {
    text-decoration: none;
}