<div class="container">
    <div *ngIf="!editUser" class="tracker">
        <div class="contents">
            <mat-card class="card" appearance="outlined">
                <mat-card-content class="card-content">SUN</mat-card-content>
            </mat-card>
            <mat-card class="card" appearance="outlined">
                <mat-card-content class="card-content">MON</mat-card-content>
            </mat-card>
            <mat-card ngClass="getToday().toUpperCase() === 'TUE' ? card-today : card" appearance="outlined">
                <mat-card-content class="card-content">TUE</mat-card-content>
            </mat-card>
            <mat-card class="card" appearance="outlined">
                <mat-card-content class="card-content">WED</mat-card-content>
            </mat-card>
            <mat-card class="card" appearance="outlined">
                <mat-card-content class="card-content">THU</mat-card-content>
            </mat-card>
            <mat-card class="card" appearance="outlined">
                <mat-card-content class="card-content">FRI</mat-card-content>
            </mat-card>
            <mat-card class="card" appearance="outlined">
                <mat-card-content class="card-content">SAT</mat-card-content>
            </mat-card>
        </div>
    </div>
    <div>
        <app-footer></app-footer>
    </div>
</div>