
    <div *ngIf="expanded" class="nav-primary active-expanded">
        <div class="expand-nav"><a class="anchor expand-sidebar" href="#" (click)="closeNav()"><i class="fa fa-arrow-left left" aria-hidden="true"></i></a></div>
        <ul class="sidebar">
            <li class="selection"><a class="anchor" (click)="showExercises()"><i class="icon-li fa fa-cog" aria-hidden="true"></i><span>Exercises</span></a></li>
            <li class="selection"><i class="icon-li fa fa-line-chart" aria-hidden="true"></i><span>Progress</span></li>
            <li class="selection"><i class="icon-li fa fa-clock" aria-hidden="true"></i><span>Schedule</span></li>
            <li class="selection"><i class="icon-li fa fa-tasks" aria-hidden="true"></i><span>Tracker</span></li>
            <li class="selection"><i class="icon-li fa fa-compass" aria-hidden="true"></i><span>Guide</span></li>
            <li class="selection"><i class="icon-li fa fa-info-circle" aria-hidden="true"></i><span>About</span></li>
            <li class="selection"><i class="icon-li fa fa-sign-out" aria-hidden="true"></i><span>Logout</span></li>
        </ul>
    </div>

    <div *ngIf="!expanded" class="nav-primary active">
        <div class="expand-nav"><a class="anchor expand-sidebar" href="#" (click)="expandNav()"><i class="fa fa-arrow-right" aria-hidden="true"></i></a></div>
        <ul class="sidebar">
            <li><a class="anchor" (click)="showExercises()"><i class="icon-li fa fa-cog tooltip unclicked-menu" aria-hidden="true"></i></a></li>
            <li><i class="icon-li fa fa-line-chart" aria-hidden="true"></i></li>
            <li><i class="icon-li fa fa-clock" aria-hidden="true"></i></li>
            <li><i class="icon-li fa fa-tasks" aria-hidden="true"></i></li>
            <li><i class="icon-li fa fa-compass" aria-hidden="true"></i></li>
            <li><i class="icon-li fa fa-info-circle" aria-hidden="true"></i></li>
            <li><i class="icon-li fa fa-sign-out" aria-hidden="true"></i></li>
        </ul>
    </div>
    <div [ngClass]="menuClass"><app-navmenu></app-navmenu></div>