.nav-container {
    margin: 50px 10px 10px 90px;
    height: 200px;
    width: 520px;
    background: rgb(255, 95, 31);
    border: 2px solid rgb(255, 95, 31);
    position: fixed;
    display: flex;
    z-index: 2;
    visibility: visible;
}

.nav-container-show {
    position: relative;
    display: flex;
    z-index: 2;
    visibility: visible;
}